{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<h1>All Posts</h1>

{% if user.is_authenticated %}
    <div id="new-post">
        <h5>New Post</h5>
        <textarea name="post-content" id="post-content" rows="3"></textarea>
        <button id="post-button" class="btn btn-primary">Post</button>
    </div>
{% endif %}
    
    
{% for post in posts %}
<div class="post">
    <a class="post-user" href="{% url 'user' post.poster.id %}">{{post.poster}}</a>
    <p class="post-content">{{post.content}}</p>
    <p class="timestamp">{{post.timestamp}}</p>
    <p>{{post.like_count}}</p>
</div>
{% endfor %}
    
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}